<!-- Footer -->
<footer > 

  <!-- Footer Elements -->
  <div class="container-fluid">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-sm-12">
        <div class="mb-5 flex-center">

          <!-- Wipro -->
          <a href="#">
            <img src="../../../assets/wiproLogoNoBorder.JPG" alt="Wipro Logo">
          </a>
          <!-- Innogy -->
          <a href="#">
              <img src="../../../assets/Innogy.jpg" alt="Innogy Logo">
          </a>
          
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

</footer>
<!-- Footer -->