<!-- Header -->

<div class="header">
  <h2 class="inline special">Genie </h2> <h2 class="inline">- your friendly IT Assistant</h2>
</div>

<!-- End of Header -->

<!-- Search Bar -->
<!-- <div class="row">
  <form class="form-inline search">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary my-2 my-sm-0" type="submit" >Search</button>
  </form>
</div> -->

<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-4">
    <div class="search">
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Explore Me ">
          <mat-hint>Max 10 characters</mat-hint>
        </mat-form-field>
        <button mat-raised-button color="primary" class="searchbtn">Search</button>
      </div>
  </div>
</div>