<h5 class="title">Please find below the categories available to you</h5>

<!-- Categories -->
<div class="row">
    <!-- <button type="submit" class="btn btn-primary category" (click)="toggleDetails()">EDI</button> -->
    <button mat-raised-button color="primary" class="category" (click)="toggleDetails()">EDI</button>
</div>
<!-- End of Categories -->

<!-- Details Form -->

<!-- <div class="row">
    <form class="details" *ngIf='showDetails'>
      <div class="form-group">
        <label for="exampleUserName">ANA Name</label>
        <input type="email" class="form-control" id="exampleUserName"  placeholder="Enter your name">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Email Address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email address">
      </div> -->
<!-- <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Add">
          <label class="form-check-label" for="inlineRadio1">Add</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Edit">
          <label class="form-check-label" for="inlineRadio2">Edit</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Delete">
            <label class="form-check-label" for="inlineRadio2">Delete</label>
          </div> -->
<!-- <div class="form-group">
        <label for="exampleInputPassword1">User Email Address</label>
        <input type="email" class="form-control" id="userEmail" placeholder="Enter your email address">
      </div>
      <button type="submit" class="btn btn-primary" (click)="submitTicket()">Submit</button>
    </form>
  </div> -->

<!-- Angular Material -->
<div class="container">
    <form [formGroup]="userForm" *ngIf='showDetails'>
        <div class="form-group col-md-6">
            <mat-form-field appearance="outline" class="details" id='genieEmail'>
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Please enter your email address">
                <mat-hint>test@test.com</mat-hint>
            </mat-form-field>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <mat-radio-group>
                    <mat-radio-button value="1">Add</mat-radio-button>
                    <mat-radio-button value="2">Edit</mat-radio-button>
                    <mat-radio-button value="2">Delete</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <mat-form-field appearance="outline" class="details" id='anaName'>
                    <mat-label>ANA Name</mat-label>
                    <input matInput placeholder="Please enter your name">
                    <mat-hint>Full name</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <mat-form-field appearance="outline" class="details" id='userEmail'>
                    <mat-label>User Email Address</mat-label>
                    <input matInput placeholder="Please enter the user's email address">
                    <mat-hint>test@test.com</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <button mat-raised-button color="accent" class="submit" (click)="addField()">Add more users</button>
            </div>
        </div>
        <div  *ngFor="let testControl of userForm.get('test').controls; let i=index">
            <div class="row input-group" >
                <div class="form-group col-md-6">
                    <mat-form-field appearance="outline" class="details">
                        <mat-label>ANA Name</mat-label>
                        <input matInput [formControlName]="i" placeholder="Please enter your name">
                        <mat-hint>Full name</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row input-group" >
                <div class="form-group col-md-6">
                    <mat-form-field appearance="outline" class="details">
                        <mat-label>User Email Address</mat-label>
                        <input matInput [formControlName]="i" placeholder="Please enter the user's email address">
                        <mat-hint>test@test.com</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <button mat-raised-button color="primary" class="submit" type="button" (click)="submitTicket()">Submit</button>
            </div>
        </div>
    </form>
</div>